@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Montserrat:wght@600;700&display=swap");

:root {
    --bg-primary: #1d1a1a;
    --text-primary: rgba(255, 255, 255, 0.75);
    --search-box-border-color: rgb(82, 82, 82);
    --search-box-focus-border-color: rgb(37, 153, 128);
    --example-text: rgb(131, 131, 131);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3em;
    background-color: rgb(46, 46, 46);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(66, 66, 66);
}

html,
body {
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-primary);
    font-size: 1.025rem;
    background-color: var(--bg-primary);
}
